@font-face {
  font-family: "Atkinson Hyperlegible Mono";
  src: url("../assets/fonts/AtkinsonHyperlegibleMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


$font-primary: "Atkinson Hyperlegible Mono", monospace;
