@import "../../styles/variables";



.main {
  background-color: $color-bg-light;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__hello {
    font-size: 40px;
  }

  &__text {
    margin-bottom: 20px;
  }
}
