@import "../../styles/variables";

.header {
  width: 100vw;
  height: 64px;
  background-color: $color-bg-light;
  border-bottom: $color-border 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;

  &__logo img {
    width: 48px;
    height: 48px;
  }

  &__search {
    display: flex;
    align-items: center;
    &--input {
      flex: 1;
      width: 700px;
      height: 32px;
      padding: 0 0 0 12px;
      border: 1px solid $color-border;
      border-radius: 20px;
      outline: none;

      margin-right: -32px;
      z-index: 1;

      &::placeholder {
        color: $color-placeholder;
      }
    }
    &--button {
      width: 32px;
      height: 32px;
      padding: 5px;
      background-color: $color-secondary;
      border-radius: 20%;
      z-index: 2;

      img {
        width: 100%;
        height: 100%;
        fill: $color-bg-light;
      }

      &:hover {
        background-color: $color-primary;
      }
    }
  }

  &__date {
    &--day {
      color: $color-text-primary;
    }
    &--full {
      color: $color-primary;
    }
  }
}
