@import "../../styles/variables";
@import "../../styles/fonts.scss";


.footer {
  background-color: $color-bg-dark;
  color: $color-bg-light;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    font-size: 30px;
    font-family: $font-primary;
  }
}
