@import './styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: $color-bg-light;
  color: $color-text-primary;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-text-primary;
  margin-bottom: 0.5rem;
}

p {
  color: $color-text-secondary;
  margin-bottom: 1rem;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: darken($color-primary, 10%);
  }
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

